/*body*/
body {
  font-family: "Roboto", sans-serif;
}
/*End body*/

/* Content*/
.page-content{
      min-height: calc(100vh - 56px);
}
/*End Content*/

/*Home Page*/
.callout-container {
  background: url("../image/img-index/hero-image.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #8f8f8f;
  display: flex;
  height: calc(100vh - 166px);
  justify-content: center;
  position: relative;
}
.landing-text {
    color: #ffffff;
    background-size: cover;
    background-color: rgba(00,42,78,0.5);
    font-family: 'Expo',sans-serif;
    font-size: 20px;
    font-style: italic;
    text-shadow: 10px 10px 40px #fafafa;
    padding:10px;
    margin-bottom: 50px;
    margin-top: 50%; 
    align-items: center;
    text-align: center;
    height:fit-content;
} 
.landing-text a:hover {
    color: white;
}
@media screen and (max-width: 768px) {
  .landing-text {
    font-size:10px;
  }
  h2 {
     font-size:20px; 
  }
}
/*End Home Page*/

/*Contact Page*/
.message-container {
  background: url("../image/img-contact/contact.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: dimgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}
.message-box {
  background-color: rgba(00,42,78,0.5);
  padding: 2rem 1rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 300px;
  font-family: "expo";
  color: white;
}
.header-form {
    font-size:20px;
}
.toast {
    background-color:#002a4e;
    color: white;
}
.btn-close {
  cursor: pointer;
  margin-left: auto;
}
/*End Contact Page*/

/*Header*/
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color:#002a4e;
  border: 0;
  display: flex !important;
  padding-left: 0.6rem;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-family: "Expo";
  font-weight: bold; 
}
.navbar .navbar-toggler {
  border: 0;
}
.navbar .navbar-nav a {
  font-weight: bold;
}
.ml-auto {
  margin-left: inherit;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/*End Header*/

/*footer*/
.footer {
  background-color:#002a4e; 
  color: #fafafa;
  min-height: 80px;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
}
.social-links {
  padding-bottom: 10px;
}
.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 10px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
  background: #e84610;
}
#footer-details {
  padding: 10px;
  font-family: "Expo";
  text-align: center;
}
/*End Footer*/

a {
    color: white;
}